<div class="{{page}}">
<article class="speakerslist">
    <section class="layout">
        <div class="speakers">
                <article class="artist group" ng-repeat="item in artists">
                    <h3>
                         {{item.title}}
                        <span class="small">
                            with
                            <a href="#!/details/{{item.shortname}}"> {{item.name}} </a>
                        </span>
                    </h3>
                    <p>
                        <a href="#!/details/{{item.shortname}}">
                            <img class="speaker" src="/images/speakers/{{item.shortname}}_tn.jpg" alt="Photo of {{item.shortname}}"/>
                        </a>
                        <span ng-show="speakerList">{{item.summary}}</span>
                        <span ng-show="speakersDetail" ng-bind-html="item.description"></span>
                    </p>
                </article>
        </div>
    </section>
</article>
</div>
