<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body class="<%= page %>" ng-app="myApp" ng-controller="HomeController">

    <% include partials/template/header.ejs %>
    <section class="layout">
      <div class="primary" ng-view>

      </div> <!-- Primary -->
      <aside class="secondary">
        <% include partials/content/nextmeeting.ejs %>
        <% include partials/content/artworklist.ejs %>
      </aside> <!-- Secondary -->
    </section>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefault.ejs %>
  </body>
</html>
